body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000000;
}
h1 {
    text-align: center;
    color: white;
}
.linea {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.linea:hover {
    background-color: rgb(19, 18, 18);
    color: white; /* Asegura que el texto sea visible */
}
.info {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
}
.estaciones {
    margin-top: 5px;
    padding-left: 20px;
}
.color {
    font-weight: bold;
}
.estacion {
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: black;
    color: white;
}
.estacion:hover {
    background-color: rgb(19, 18, 18);
    color: white;
}
.estacion-info {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 0.9em;
    color: #969696;
    display: none;
}